{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h3>Attendance Records</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Member</th>
                    <th>Status</th>
                    <th>Fine</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in attendances %}
                <tr>
                    <td>{{ attendance.date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ attendance.member.name }}</td>
                    <td>{{ attendance.status }}</td>
                    <td>{{ attendance.fine_amount if attendance.fine_amount else 'N/A' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
