{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h3>Member Information</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>ID</th>
                    <th>Residence</th>
                    <th>County</th>
                    <th>Gender</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.phone }}</td>
                    <td>{{ member.id }}</td>
                    <td>{{ member.residence }}</td>
                    <td>{{ member.county }}</td>
                    <td>{{ member.gender }}</td>
                    <td>{{ member.age }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
