{% extends "base_reports.html" %}

{% block content %}
    <h2>Event Report ({{ events|length }} records)</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.description }}</td>
                    <td>{{ event.date.strftime('%Y-%m-%d') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
