{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h3>Your Financial Records</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for contribution in contributions %}
                <tr>
                    <td>{{ contribution.amount }}</td>
                    <td>{{ contribution.type }}</td>
                    <td>{{ contribution.date.strftime('%Y-%m-%d') }}</td>
                </tr>
{% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
