{% extends 'layouts/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 offset-md-1">
        <h3>Your Attendance Records</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Fine (if applicable)</th>
                </tr>
            </thead>
            <tbody>
                {% for record in attendance_records %}
                <tr>
                    <td>{{ record.date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ record.status }}</td>
                    <td>{{ record.fine_amount if record.fine_amount else '-' }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
